/*
 Nilufer Anlar ITMD-361 Project 3
   CSS to add styling for sliders.

   File Name: sliderdogs.css
*/

.button {
  font-size: .875em; /* 14px = 16px * .875em */
  line-height: 2.25rem; /* 36px = 16px * 2.25em */
  font-weight: 500; /* medium */
  letter-spacing: .0892857143em; /* 1.25 / 14px */
  text-transform: uppercase;
  color: green;
  font-weight: 600;
}

.nopadding{
  padding: 0;
}

/* BEGIN SLIDESHOW */

/* NHA test - change all from 100% to other% */

.slideshow{
  position: relative;
  width: 40%;  /* NHA test orig 100% */
  margin: 0 auto;
  z-index: 0;
}

/* slideshow images */

.slideshow img{
  display: block;  /* NHA - keep!  */
  width: 100%;  /* NHA - Keep */
  z-index: 0;
}

.slideshow ul li{
  line-height: 0;
  height: 100%;  /* NHA test - no diff btw 100 and 50 */
}

.image-is-visible{
  /*display: list-item; */
  display: contents;
}

.image{
  display: none;
}

/* slideshow buttons */
.slideshow .button{
  width: 4rem;
  border: none;
  background: white;
  opacity: 0.6;
}

#slideshow-left, #slideshow-left2{
  position: absolute;
  margin: -20px 0 0 0;
  top: 50%;
  left: 0%;
  z-index: 0;
  /* NHA */
  background-color: gray;
  border: none;
}

#slideshow-right, #slideshow-right2{
  position: absolute;
  margin: -20px -30px 0 0;  /* NHA-dont change 20!  30 orig 0*/
  top: 50%;
  right: 0%;
  z-index: 0;
  /* NHA */
  background-color: gray;
  border: none;
}

#lbtn, #rbtn {
  color: red;  /* NHA - not needed? */
}

/* slideshow dots */
.dot{
  display: inline-block;
  margin: 0 0.5em;  /* NHA - at 8px */
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: grey;
  border-radius: 50%;
  vertical-align: middle;
}

.dot-is-selected{
  display: inline-block;
  margin: 0 0.5em;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: green; /* NHA orig #0745ff; */
  border-radius: 50%;
  vertical-align: middle;
}

#slideshow-dots{
  margin: .5rem;
  clear: both;
  display: block;
  text-align: center;

}

/* END SLIDESHOw */
