/*
 Nilufer Anlar ITMD-361 Project 3
   CSS to add styling for sliders.

   File Name: sliderdogs.css
*/

.button {
  font-size: .875em;  /* 14px, (14px/16px=.875em) */
  line-height: 2.25rem;  /* at 36px (36px/16px=2.25em) */
  letter-spacing: 0.1em;  /* puts little separation */
  text-transform: uppercase;  /* more emphasis */
  color: green;
  font-weight: 600;  /* a little bolder */
}

/* BEGIN SLIDESHOW of slider dogs =============== */

/* NHA test - adjust slider size from its wrapper */
.slideshow{
  position: relative;
  width: 40%;  /* adjust to screen layout */
  margin: 0 auto;
  z-index: 0;
}

/* slideshow images */
.slideshow img{
  display: block;
  width: 100%;  /* keep full image */
  z-index: 0;
}

.slideshow ul li{
  line-height: 0;
  height: 100%;  /* keep each one at full size */
}

.image-is-visible{
  display: contents;
}

.image{
  display: none;
}

/* slideshow buttons */
.slideshow .button{
  width: 4rem;  /* use rem for flexibility */
  border: none;
  background: white;
  opacity: 0.6;
}

#slideshow-left, #slideshow-left2{
  position: absolute;
  margin: -20px 0 0 0;
  top: 50%;
  left: 0%;
  z-index: 0;
  background-color: gray;
  border: none;
}

#slideshow-right, #slideshow-right2{
  position: absolute;
  margin: -20px -30px 0 0;  /* make it centered */
  top: 50%;
  right: 0%;
  z-index: 0;
  background-color: gray;
  border: none;
}

/* slideshow dots */
.dot{
  display: inline-block;
  margin: 0 0.5em;  /* 8px */
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: grey;
  border-radius: 50%;
  vertical-align: middle;
}

.dot-is-selected{
  display: inline-block;
  margin: 0 0.5em;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: green; /* consistent w other greens */
  border-radius: 50%;
  vertical-align: middle;
}

#slideshow-dots{
  margin: .5rem;
  clear: both;
  display: block;
  text-align: center;

}

/* END SLIDESHOW ========================== */
