/* Nilufer Anlar, ITMD-Project3, style.css */
/* 
   I used Modular Scale Minor 3rd, 120% in the 
   Math calculations below.
*/

/* === COMMON, SAME STYLE ELEMENTS to All Pages === */
/* make the navigation menu consistent for all three pages  */

html {
  font-family: "Times New Roman", Georgia, serif;  /* default native */
}

h2 {
  margin-top: 3em;  /* at 48 px, (48px/16px=3.75em) */
}

#navigation {
  position: absolute;  /* forces it over h1 heading */
  width: 100%;
  top: 0;  /* forces it to the top */
  left: 0;  /* forces it to the entire screen */
  font-family: "Times New Roman", Georgia, serif;  /* same for all nav */
  background-color: gray;
}

#navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#navigation li {
  float: left;
  margin: 0 0.125em;  /* at 2px, (2px/16px=0.125em) */
}

#navigation ul li a {
  display: block;
  background-color: royalblue;
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  width: 82px;
  padding: 0.5em 0 0.5em 0;  /* at 8px (8px/16px=0.5em) */
  border-radius: 0;
}

#navigation ul li a:hover {
  background-color: indianred;
  color: black;
  border-radius: 0;
}

.clear {
  clear: both;  /* remove floats */
}

img, audio, video, iframe {
  display: block;
  max-width: 100%;
}

/* === STYLE ELEMENTS for resume.html ================= */ 

body {
  background-color: linen;
}

#page1 {
  margin: 20px 25px 20px 25px;
}

#personal, h3 {
  text-align: center;
  margin-bottom: 0;
}

#myphone, #myaddress {
  font-size: 0.8125em;  /* at 13px, (13px/16px=0.8125em) */
  font-style: oblique;
}

#mypic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14%; 
}

#coname {
  font-family: sans-serif;
  font-size: 1em;  /* at 16px */
  text-align: center;
  margin-left: 0.625em;  /* at 10px, (10px/16px=0.625em) */
  margin-top: 0.5em;  /* at 8px */
  margin-bottom: 0;
}

#coposition {
  text-align: left;
  margin-left: 1.5em;  /* at 24px, (24px/16px=1.5em) */
  margin-top: 0;
  margin-bottom: 0;
  font-style: oblique;
}

h5 {
  font-size: 0.875em;  /* at 14px, 14px/16px=0.875em */
  font-style: oblique;
  margin-left: 1.5em;  /* at 24px, (24px/16px=1.5em) */
  margin-bottom: 0;
}

#experience li {
  font-size: 0.8125em;  /* at 13px, 13px/16px=0.8125 */
  font-style: oblique;
  margin-left: 1.5em;  /* at 24px, (24px/16px=1.5em) */
}

#certificates, #cert {
  font-size: 90%;
}

/* === STYLE ELEMENTS for hometown.html ============*/
/* Please NOTE:
   1. I used a two-column FLUID-WIDTH layout for 
      this page for my Project2. 
   2. Since I made this page mobile-friendly for 
      Project3, I moved the two-column layout to my 
      media queries for easy read on mobiles. 
   3. My audio file works on Chrome, Edge, Firefox, Opera
      and my iPad (which has an older version of Safari).
      Even though it used to work on my iPhone6 before, 
      it is no longer working now, after I moved to a 
      later version of Safari. I recorded it on my iPhone6
      and used that same audio file, but still not working.
      After many google searches, still cannot make it work. 
      Any feedback will be appreciated.
*/
   
/* my wrapper */
#body2 {
  width: 100%;  /* fluid */
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;  /* a Google font */
  font-size: 1em;  /* at 16px, (16px/16px=1em) */
  background-color: #fafafa;
}

#header2 h2 {
  color: darkblue;  /* same as the main text */
  text-align: center;
}

#main2 {
  line-height: 1.4em;  /* more than 120% for better read */
  float: left;
  color: darkblue;
  margin: 0 3% 0 3%;
}

#extras2 {
  float: left;
  margin: 0 3% auto;
  font-size: 90%;
  font-style: oblique;
}

#istsound {
  float: left;
  margin-right: 10px;
  border-style: solid;
  border-color: gray;
  background-color: darkgray;
}

#imap { 
  width: 200px; 
  height: 120px;
  float: left;
  margin-right: 10px;
}

#istpics {
  width: 98%;  /* mobile-friendly */
  margin-top: 5px;
}

#istvideo {
  width: 98%;  /* mobile-friendly */
  float: left;
  margin-bottom: 10px;
}

#footer2 {
  clear: both;
}

/* === STYLE ELEMENTS for dogs.html ================== */

/* I used a two-column 960 FIXED-WIDTH layout for this page.
   NOTE: 
   It did NOT cover my entire PC screen. Because my PC(LG)
   screen is much wider than 960px. I tested with diffeerent
   backgrounds with colors(it is ~1100px wide). */

#body3 {
  width: 960px;  /* fixed as Prof recommends */
  margin: 0 auto;
  background-color: floralwhite;
}

#main3 {
  float: left;
  width: 650px;
  margin: 0 20px;
  font-family: "Roboto", sans-serif;  /* a Google font */
  color: green;
}

#extras3 {
  float: left;
  width: 250px;
  margin: 0;
}

#header h2 {
  font-weight: 700;  /* for bold effect */ 
  margin-left: 20px;
  color: green;
}

#main3 #dog1 {
  width: 300px;
  float: left;
  margin-right: 15px;
}

#main3 #dog2 {
  width: 300px;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

#main3 #dog3 {
  width: 200px;
  float: left;
  margin-bottom: 10px;
}

/* === STYLE ELEMENTS for map.html ================== */
/* I used style similar to Prof. K.'s iitmap example. */

/* Always set the map height explicitly to define 
   the size of the div element that contains the map. */
#page4{
  background-color: silver;
}

#mmap h2 {
  color: darkslategray;
  text-align: center;
}

#content4 {
  width: 650px;
	height: 450px;
	background-color: gray;
  margin: 0 auto;  /* important, set this way */
	overflow: hidden;
}

#mtitle {
  margin-top: 45px;
  margin-bottom: 2px;
}

#istmap {
	width: 600px;
	height: 400px;
	margin: 25px auto;
}

/* this footer may not be needed */
#fmap {
  font-size: 0.8em;
  font-weight: 700;
  color: navy;
  text-align: center;
  font-style: oblique;
  margin-top: 5px;
}

/* =============== MODULAR STYLES ==================== */
/* 
  My MEDIA queries are listed below for the hometown page
  I used a two-column FLUID-WIDTH layout for this page */

/* ====== for tablets ============= */
@media screen and (min-width: 768px) { 
  #body2{
    background-color: #fbf8ef;
  }
  
  #main2 {
    float: left;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    margin-right: 0;
  }

  #extras2 {
    float: left;
    width: 37%;
    margin: 0 2% auto;
    font-style: oblique;
    line-height: 1.3em;  /* little bigger */
  } 

  #istsound {
    width: 60%;
    border-style: groove;
    border-color: darkgray;
    background-color: gray;
  }
  
  #imap { 
    width: 200px; 
    height: 110px;
    float: left;
    margin-right: 10px;
  }

  #istvideo {
    width: 300px;
    height: 200px;
    float: right;
  }
  
  #footer2 {
    clear: both;
  }
}

/* ====== for desktops and wide screens ====== */
@media screen and (min-width: 992px) {
  #body2 {
    background-color: #eff5fb;
  }
  
  /* increase line height for easy read */
  #main2 {
    width: 50%;
  }
  
  #extras2 {
    width: 43%;
    font-size: 1em;
    font-weight: 500;  /* not too bold */
  }
  
  /* try intersting border */
  #istsound {
    border-style: double;
    border-color: navy;
    background-color: lightgray;
  }
  
  /* make map image and video bigger */
  #imap { 
    width: 300px; 
    height: 180px;
    margin-right: 10px;
  }
  #istvideo {
    width: 400px;
    height: 230px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}
  
/* ====== end ============================= */
