/* Nilufer Anlar, ITMD-Project2, style.css */

/* 
   I used Modular Scale Minor 3rd, 120% in the 
   Math calculations below.
*/

/* === COMMON, SAME STYLE ELEMENTS to All Pages === */
/* make the navigation menu consistent for all three pages  */

html {
  font-family: "Times New Roman", Georgia, serif;  /* default native */
}

h2 {
  margin-top: 3em;  /* at 48 px, (48px/16px=3.75em) */
}

.nav {
  position: absolute;  /* forces it over h1 heading */
  width: 100%;
  top: 0;  /* forces it to the top */
  left: 0;  /* forces it to the entire screen */
  font-family: "Times New Roman", serif;  /* same for all nav */
  background-color: gray;
}

#navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#navigation li {
  float: left;
  margin: 0 0.625em;  /* at 10px, (10px/16px=0.625em) */
}

#navigation ul li a {
  display: block;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 0.625em 0 0.5em 0;  /* at 10px (10px/16px=0.625em), at 8px (8px/16px=0.5em) */
  border-radius: 0;
}

#navigation ul li a:hover {
  background-color: indianred;
  color: black;
  border-radius: 0;

}

.clear {
  clear: both;  /* remove floats */
}

img, audio, video, iframe {
  display: block;
  max-width: 100%;
}

/* === STYLE ELEMENTS for resume.html ================= */ 

body {
  background-color: linen;
}

#page1 {
  margin: 20px 25px 20px 25px;
}

#personal, h3 {
  text-align: center;
  margin-bottom: 0;
}

#myphone, #myaddress {
  font-size: 0.8125em;  /* at 13px, (13px/16px=0.8125em) */
  font-style: oblique;
}

#mypic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14%; 
}

#coname {
  font-family: sans-serif;
  font-size: 1em;  /* at 16px */
  text-align: center;
  margin-left: 0.625em;  /* at 10px, (10px/16px=0.625em) */
  margin-top: 0.5em;  /* at 8px */
  margin-bottom: 0;
}

#coposition {
  text-align: left;
  margin-left: 1.5em;  /* at 24px, (24px/16px=1.5em) */
  margin-top: 0;
  margin-bottom: 0;
  font-style: oblique;
}

h5 {
  font-size: 0.875em;  /* at 14px, 14px/16px=0.875em */
  font-style: oblique;
  margin-left: 1.5em;  /* at 24px, (24px/16px=1.5em) */
  margin-bottom: 0;
}

#experience li {
  font-size: 0.8125em;  /* at 13px, 13px/16px=0.8125 */
  font-style: oblique;
  margin-left: 1.5em;  /* at 24px, (24px/16px=1.5em) */
}

#certificates, #cert {
  font-size: 90%;
}

/* === STYLE ELEMENTS for hometown.html =======================*/
/* I used a two-column FLUID-WIDTH layout for this page. */
   
/* my wrapper */
#body2 {
  width: 100%;  /* fluid */
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;  /* a Google font */
  font-size: 1em;  /* at 16px, (16px/16px=1em) */
  line-height: 1.25em;  /* ~120% at 20px, (20px/16px=1.125em) */
  color: darkblue;
  background-color: lightblue;
}

#main2 {
  float: left;
  width: 64%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2%;
  margin-right: 0;
}

#extras2 {
  float: left;
  width: 30%;
  margin: 0 2% auto;
  font-size: 80%;
  font-style: oblique;
}

#footer2 {
  clear: both;
}

#header2 h2 {
  color: darkblue;  /* same as the main text */
  text-align: center; /* margin-left: 20px; */
}

#istsound {
  float: left;
  margin-right: 10px;
}

#istmap {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
}

#istpics {
  margin-top: 15px;
}

#istvideo {
  float: right;
  margin-bottom: 5px;
}

/* === STYLE ELEMENTS for dogs.html ================== */

/* I used a two-column FIXED-WIDTH layout for this page.
   NOTE: 
   BUT for some reason, it did NOT cover my entire PC screen.
   Because my PC(LG Gram) screen is much wider than 960px as
   I tested the backgrounds with colors(it is ~1100px wide).
   Therefore, I need Prof. Krieglstein's input. */

#body3 {
  width: 960px;
  margin: 0 auto;
  background-color: beige;
}

#main3 {
  float: left;
  width: 650px;
  margin: 0 20px;
  font-family: "Roboto", sans-serif;  /* a Google font */
  color: green;
}

#extras3 {
  float: left;
  width: 250px;
  margin: 0;
}

#header h2 {
  font-weight: 700;  /* for bold effect */ 
  margin-left: 20px;
  color: green;
}

#main3 #dog1 {
  width: 300px;
  float: left;
  margin-right: 15px;
}

#main3 #dog2 {
  width: 300px;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

#main3 #dog3 {
  width: 200px;
  float: left;
  margin-bottom: 10px;
}

/* === the end ======================================= */

/* === placeholder for media queries ==================*/

